#Document_Table{
    -fx-border-width: 0.5px;
}
#Document_Table .column-header{
    -fx-background-color: #00695c;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
#Document_Table .table-cell{
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;

}
#Book_Cover .table-cell{
    -fx-alignment: CENTER;

}
/* Toàn bộ giao diện */
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #f4f4f4; /* Nền tổng thể */
}

.BookListButton {
    -fx-background-color: #15b392; /* Màu xanh chính của ứng dụng */
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
