#Document_Table{
    -fx-border-width: 0.5px;
}
#Document_Table .column-header{
    -fx-background-color: #00695c;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
#Document_Table .table-cell{
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;

}
#Book_Cover .table-cell{
    -fx-alignment: CENTER;

}
/* Toàn bộ giao diện */
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #f4f4f4; /* Nền tổng thể */
}

.buttonList {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #15b392; /* Màu nền mặc định */
    -fx-background-radius: 30;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.buttonList:hover {
    -fx-background-color: #d2ff72;
    -fx-text-fill: black;
}

.buttonList:pressed {
    -fx-background-color: #73ec8b;
}
.text-field {
    -fx-border-color: #73ec8b;
    -fx-font-size: 11;
    -fx-border-radius: 20;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 20;
}

.text-field:focused {
    -fx-border-color: #73ec8b;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #d2ff72 , 8, 0.2, 0, 0); /* Hiệu ứng bóng mờ khi được chọn */
}