.header-label {
    -fx-font-family: 'Comic Sans MS';
    -fx-text-fill: #388e3c;
    -fx-font-weight: bold;
}

/* TableView */
.table-view {
    -fx-background-color: #e0f2f1; /* Màu nền bảng */
    -fx-border-color: #4caf50; /* Màu viền bảng */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Các hàng của TableView */
.table-row-cell {
    -fx-background-color: #ffffff; /* Màu nền cho hàng */
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

/* Nội dung các ô dữ liệu trong bảng */
.table-cell {
    -fx-text-fill: #424242; /* Màu chữ cho nội dung */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-padding: 5; /* Khoảng cách giữa chữ và viền ô */
    -fx-alignment: CENTER; /* Căn chữ sang trái */
}

.table-row-cell:hover {
    -fx-background-color: #e8f5e9 !important; /* Màu nền khi di chuột qua hàng */
}

/* Nội dung các ô dữ liệu khi được chọn */
.table-row-cell:selected {
    -fx-background-color: #a5d6a7 !important; /* Màu nền khi hàng được chọn */
    -fx-text-fill: black;
}
/* Header của các cột trong TableView */
.table-view .column-header-background {
    -fx-border-radius: 8 8 0 0;
}
/* Dòng xen kẽ */
.table-view .table-row-cell:odd {
    -fx-background-color: #f5f5f5;
}

.table-view .table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 7 0 7 0;
}

/* Style cho ScrollPane để hiển thị đẹp hơn */
.scroll-pane {
    -fx-background-color: #ffffff; /* Nền trắng */
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

/* Button Style */
.button {
    -fx-background-color: #15b392; /* Màu xanh chính của ứng dụng */
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #73ec8b; /* Màu xanh lá đậm hơn khi hover */
}

.button:pressed {
    -fx-background-color: #54c392; /* Màu xanh lá đậm khi bấm */
}

.text-field {
    -fx-border-color: #73ec8b;
    -fx-font-size: 11;
    -fx-border-radius: 20;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 20;
}

.text-field:focused {
    -fx-border-color: #73ec8b;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #d2ff72 , 8, 0.2, 0, 0); /* Hiệu ứng bóng mờ khi được chọn */
}

/* Định dạng cho toàn bộ DatePicker */
.date-picker {
    -fx-border-color: #15b392;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 2px;
}

.date-picker:hover {
    -fx-border-color: #54c392; /* Viền đậm hơn khi di chuột */
    -fx-cursor: hand;
}
.date-picker:focused {
    -fx-border-color: #73ec8b ; /* Viền đậm khi được chọn */
}

/* Nút lịch */
.date-picker .arrow-button {
    -fx-background-color: #d2ff72;
    -fx-background-radius: 20px;
    -fx-padding: 0 2;
    -fx-cursor: hand;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #73ec8b ; /* Màu khi di chuột vào */
}

.date-picker .arrow-button:pressed {
    -fx-background-color: #54c392 ; /* Màu khi nhấn vào */
}

/* Nội dung của lịch */
.date-picker .day-cell {
    -fx-cursor: hand;
}

.date-picker .cell:hover {
  -fx-background-color: #73ec8b;
}

.date-picker .cell:focused {
  -fx-background-color: #54c392;
}

/* Thanh chưa tháng và năm của lịch*/

.date-picker-popup .month-year-pane {
  -fx-background-color: #54c392;
}

.date-picker-popup .month-year-pane .label {
  -fx-text-fill: white;
}

/* 2 mũi tên trái phải*/

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
    -fx-cursor: hand;
}

.date-picker-popup .spinner .button .left-arrow:hover,
.date-picker-popup .spinner .button .right-arrow:hover {
  -fx-background-color: #73ec8b;
}

.buttonList {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #15b392; /* Màu nền mặc định */
    -fx-background-radius: 30;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.buttonList:hover {
    -fx-background-color: #d2ff72;
    -fx-text-fill: black;
}

.buttonList:pressed {
    -fx-background-color: #73ec8b;
}