.header-title {
    -fx-font-weight: bold;
    -fx-text-fill: #15b392;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.5, 0, 1);
}

/* Content Section */
.content-container {
    -fx-padding: 30 0 10 5;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.3, 0, 2); /* Hiệu ứng đổ bóng nhẹ */
}

/* Chart Box */
.chart-box {
    -fx-background-color: #e8f7f0; /* Màu nền nhẹ tương phản với biểu đồ */
    -fx-padding: 20px;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 2); /* Đổ bóng mềm mại */
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #15b392;
}