.header-title {
    -fx-font-family: 'Comic Sans MS';
    -fx-font-weight: bold;
    -fx-text-fill: #15b392;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.5, 0, 1);
}

.statisLabel {
    -fx-font-family: 'Cooper Black';
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #15b392;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: #73ec8b;
}

/* Content Section */
.content-container {
    -fx-padding: 30 0 10 5;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.3, 0, 2); /* Hiệu ứng đổ bóng nhẹ */
}

/* Chart Box */
.chart-box {
    -fx-background-color: #e8f7f0; /* Màu nền nhẹ tương phản với biểu đồ */
    -fx-padding: 20px;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 2); /* Đổ bóng mềm mại */
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #15b392;
}

.chart-pie:hover{
    -fx-border-width: 2;
    -fx-border-color: #73ec8b;
}

.custom-piechart {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: #15b392;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}

.custom-piechart:hover {
    -fx-border-color: #73ec8b;
    -fx-border-width: 4;
}