/* Sidebar */
.sidebar-scroll {
    -fx-background: #15b392; /* Màu chính */
}

.sidebar {
    -fx-background-color: #15b392; /* Màu chính */
    -fx-padding: 10;
    -fx-pref-height: 50px;
    -fx-background-radius: 20;
    -fx-border-color: #73ec8b;
    -fx-border-radius: 20;
}

.sidebar-title {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 0 8 0;
}

.sidebar-button {
    -fx-background-color: #54c392; /* Màu nền của button */
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-padding: 8 10;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: #73ec8b; /* Màu hover */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 2);
}

.sidebar-button:pressed {
    -fx-background-color: #388E3C; /* Màu khi nhấn */
}
.seperator{
    -fx-background-color: black;
}
.sidebar-menubutton {
    -fx-background-color: #54c392; /* Màu nền giống button */
    -fx-text-fill: black; /* Màu chữ */
    -fx-font-size: 16px; /* Kích thước font chữ */
    -fx-background-radius: 15; /* Bo góc giống button */
    -fx-cursor: hand; /* Con trỏ tay khi hover */
}
