.header-label {
    -fx-text-fill: #388e3c;
    -fx-font-weight: bold;
}
/* TableView */
.table-view {
    -fx-background-color: #e0f2f1; /* Màu nền bảng */
    -fx-border-color: #4caf50; /* Màu viền bảng */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Các hàng của TableView */
.table-row-cell {
    -fx-background-color: #ffffff; /* Màu nền cho hàng */
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

/* Nội dung các ô dữ liệu trong bảng */
.table-cell {
    -fx-text-fill: #424242; /* Màu chữ cho nội dung */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-padding: 5; /* Khoảng cách giữa chữ và viền ô */
    -fx-alignment: CENTER; /* Căn chữ sang trái */
}

.table-row-cell:hover {
    -fx-background-color: #e8f5e9 !important; /* Màu nền khi di chuột qua hàng */
}

/* Nội dung các ô dữ liệu khi được chọn */
.table-row-cell:selected {
    -fx-background-color: #a5d6a7 !important; /* Màu nền khi hàng được chọn */
    -fx-text-fill: black;
}
/* Header của các cột trong TableView */
.table-view .column-header-background {
    -fx-border-radius: 8 8 0 0;
}
/* Dòng xen kẽ */
.table-view .table-row-cell:odd {
    -fx-background-color: #f5f5f5;
}

.table-view .table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 7 0 7 0;
}

/* Style cho ScrollPane để hiển thị đẹp hơn */
.scroll-pane {
    -fx-background-color: #ffffff; /* Nền trắng */
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

/* BorderPane (khung tổng thể) tinh chỉnh */
.border-pane {
    -fx-background-color: #ffffff; /* Nền trắng */
    -fx-padding: 10;
}

/* Button Style */
.button {
    -fx-background-color: #15b392; /* Màu xanh chính của ứng dụng */
    -fx-text-fill: white;
    -fx-padding: 8 15;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #73ec8b; /* Màu xanh lá đậm hơn khi hover */
}

.button:pressed {
    -fx-background-color: #54c392; /* Màu xanh lá đậm khi bấm */
}
